.Home {
  width: 100vw;
  height: 100vh;

  background-color: black;
  color: aliceblue;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 10px;

  background-color: rgb(100, 0, 0);
}

.main {
  width: 80%;
  height: 80%;

  margin: auto;
  margin-top: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlesWrapper {
  display: flex;
  gap: 30px;

  margin-top: 30px;
}